* {
    /* height: 1000%; */
    user-select: none; 
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

.inventory-container {
    background-color: grey;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    height: 5vw;
    justify-content: space-between;
}

.inventory-box {
    padding: 0.5rem;
    height: 100%;
    border: none;
    transition: transform 0.1s ease;
}

.inventory-box:hover, .inventory-box.selected{
    transform: scale(1.2);
}

.side-box {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding-block: min(3vh, 5rem);
    padding-inline: min(1.5vw, 5rem);
    justify-content: space-between;
}

#side-box-button{
    background-color: #f0f0f0;
    width: 3vh;
    height: 9vh;
}

.side-box-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.bars {
    position: absolute;
    left: 2vw;
}

.progress-bar {
    position: relative;
    width: 500px;
    height: 2em;
    background-color: magenta;
    border-radius: 100vh;
    color: black;
    margin-block: 0.5rem;
}

.progress-bar::before {
    white-space: nowrap;
    content: attr(data-number) " " attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    max-width: calc(100% - 1em);
    background-color: lightblue;
    border-radius: 100vh;
    padding: 0.5em;
}

.big-image, .big-image img{
    height: 13vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-image-container{
    margin-block: 1vh;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.small-image, .small-image img{
    width: auto;
    height: 8vh;
    border-radius: 5px;
}

.box{
  width: 3vh;
  height: 3vh;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin-bottom: 5px;
}