* {
    /* height: 1000%; */
    user-select: none; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.5rem;
    --size-10: 3rem;
    --size-11: 4rem;
    --size-12: 5rem;
    --size-13: 6rem;
    --size-14: 8rem;
    --size-15: 10rem;
    --width-1: 25px;
    --width-2: 50px;
    --width-3: 75px;
    --width-4: 100px;
    --width-5: 125px;
    --width-6: 150px;
    --width-7: 175px;
    --width-8: 200px;
    --width-9: 250px;
    --width-10: 300px;
    --width-11: 400px;
    --width-12: 500px;
    --width-13: 600px;
    --width-14: 800px;
    --width-15: 1000px;
    --bars: var(--width-12);
    --progress-bar-left: 2vw;
}

@media (width < 550px) {
    :root {
        --bars: 100%;
        --progress-bar-left: 0;
    }
   }


*, *::before, *::after {
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

.inventory-container {
    background-color: grey;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.inventory-box {
    padding: 0.5rem;
    border: none;
    transition: transform 0.1s ease;
    width: clamp(3.5rem, 7vw, 7rem);

}

.image-box{
    padding: 0.5rem;
    width: 100%;
}

.inventory-box:hover, .inventory-box.selected{
    transform: scale(1.2);
}

.side-box {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding-block: min(3vh, 5rem);
    padding-inline: min(1.5vw, 5rem);
    justify-content: space-between;
}

#side-box-button{
    --length: clamp(1rem, 3vh, 2rem);
    background-color: #f0f0f0;
    width: var(--length);
    height: calc(var(--length) * 3);
}

.side-box-container {
    --length: clamp(1rem, 3vh, 2rem);
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes side-box-container-animations-close {
    from {transform: translate(0%, -50%);}
    to {transform: translate(calc(100% - var(--length)), -50%);}
}

@keyframes side-box-container-animations-open {
    from {transform: translate(calc(100% - var(--length)), -50%);}
    to {transform: translate(0%, -50%);}
}

.bars {
    position: relative;
    left: var(--progress-bar-left);
    width: var(--bars);
}

.health-color {
    background-color: red;
}

.stat-color {
    background-color: green;
}

.width-11 {
    width: var(--width-11);
}

.health-color {
    background-color: grey;
}

.progress-bar, .health-bar {
    position: relative;
    height: 1.5em;
    border-radius: 100vh;
    color: black;
    margin-block: 0.5rem;
}

.health-bar {
    color: white;
}

.allign-to-bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress-bar::before {
    white-space: nowrap;
    content: attr(data-number) " " attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .3em;
    top: .3em;
    bottom: .3em;
    width: calc(var(--width, 0) * 1%);
    max-width: calc(100% - .6em);
    background-color: lightblue;
    border-radius: 100vh;
    padding-left: .5em;
}

.health-bar::before {
    white-space: nowrap;
    content: attr(data-number) " " attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .3em;
    top: .3em;
    bottom: .3em;
    width: calc(var(--width, 0) * 1%);
    max-width: calc(100% - .6em);
    background-color: red;
    border-radius: 100vh;
    padding-left: .5em;
}

.big-image{
    width: clamp(5rem, 10vh, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.small-image-container{
    margin-block: 1vh;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.small-image{
    width: clamp(3rem, 8vh, 6rem);
    border-radius: 5px;

    img {
        width: 100%;
    }
}

.box{
  --length: clamp(1rem, 3vh, 2rem);
  width: var(--length);
  height: var(--length);
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin-bottom: 5px;
}