* {
    /* height: 1000%; */
    user-select: none; 
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}

.inventory-container {
    background-color: grey;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    height: 5vw;
    justify-content: space-between;
}

.inventory-box {
    padding: 0.5rem;
    height: 100%;
    border: none;
    transition: transform 0.1s ease;
}

.inventory-box:hover, .inventory-box.selected{
    transform: scale(1.2);
}

.side-box {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding-block: min(3vh, 5rem);
    padding-inline: min(1.5vw, 5rem);
    justify-content: space-between;
}

#side-box-button{
    background-color: #f0f0f0;
    width: 3vh;
    height: 9vh;
}

.side-box-container {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.bar {
    height: 15px;
    position: absolute;
    background-color: magenta;
    border-radius: 5px;
    width: max(30%, 350px);
    top: max(5vh, 25px);
    left: 2vw;
}

.fill {
    top: 0;
    left: 0;
    height: 100%;
    background-color: cyan;
    border-radius: 5px;
}

.text {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 14px;
    color: black;
}

.bar-name{
    right: 50%;
}

.big-image, .big-image img{
    width: auto;
    height: 13vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-image-container{
    margin-top: 2vh;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.small-image, .small-image img{
    width: auto;
    height: 8vh;
    border-radius: 5px;
}

.box{
  width: 3vh;
  height: 3vh;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin-bottom: 5px;
}